/* Style the list (remove margins and bullets, etc) */

/* Style the list items */
.tags {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  display: flex;
  position: relative;
  height: 1rem;
  align-self: center;
}

/* Style the close button (span) */
 .tagRemove {
  cursor: pointer;
  position: absolute;

} 

.tag {
  background-color: rgba(62, 112, 174, 255);
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: 0.75rem;
  padding: 0 1rem 0.5rem 1rem;
  margin-left: 0.2rem;
}
